# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [10]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [29]:
import pandas as pd
from sklearn import metrics
from sklearn.metrics import f1_score
from sklearn.datasets import load_iris
from sklearn.datasets import load_boston
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score
from sklearn.model_selection import train_test_split

## Regression Model Evaluation

In [30]:
data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [32]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [33]:
y_train_predicted = linreg.predict(X_train)
y_train_predicted[0:10]

array([[10.96952405],
       [19.41196567],
       [23.06419602],
       [12.1470648 ],
       [18.3738116 ],
       [25.24677946],
       [20.77024774],
       [23.90932632],
       [ 7.81713319],
       [19.60988098]])

In [34]:
y_test_predicted = linreg.predict(X_test)
y_test_predicted[0:10]

array([[28.99672362],
       [36.02556534],
       [14.81694405],
       [25.03197915],
       [18.76987992],
       [23.25442929],
       [17.66253818],
       [14.34119   ],
       [23.01320703],
       [20.63245597]])

## 3. Calculate and print R-squared for both the training and the testing set.

In [35]:
metrics.r2_score(y_train, y_train_predicted)
metrics.r2_score(y_test, y_test_predicted)

0.7508856358979673

0.6687594935356278

## 4. Calculate and print mean squared error for both the training and the testing set.

In [36]:
metrics.mean_squared_error(y_train, y_train_predicted)
metrics.mean_squared_error(y_test, y_test_predicted)

21.641412753226312

24.29111947497383

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [37]:
metrics.mean_absolute_error(y_train, y_train_predicted)
metrics.mean_absolute_error(y_test, y_test_predicted)

3.314771626783228

3.189091965887878

## Classification Model Evaluation

In [38]:
data = load_iris()

X = pd.DataFrame(data["data"], columns = data["feature_names"])
y = pd.DataFrame(data["target"], columns = ["class"])

data = pd.concat([X, y], axis = 1)

In [39]:
iris = load_iris()
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [40]:
X = data.drop('class', axis = 1)
y = data['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [41]:
clf = LogisticRegression(solver = 'liblinear', max_iter = 500)
clf.fit(X_train, y_train)

LogisticRegression(max_iter=500, solver='liblinear')

In [42]:
y_train_predicted = clf.predict(X_train)
y_train_predicted

y_test_predicted = clf.predict(X_test)
y_test_predicted

array([0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0, 0, 1, 2, 2, 1, 2, 1, 2,
       2, 0, 2, 1, 0, 0, 0, 1, 2, 0, 0, 0, 1, 0, 1, 2, 0, 1, 2, 0, 2, 2,
       1, 2, 2, 1, 0, 1, 2, 0, 0, 1, 1, 0, 2, 0, 0, 2, 1, 2, 2, 2, 2, 1,
       0, 0, 2, 2, 0, 0, 0, 1, 2, 0, 2, 2, 0, 1, 1, 2, 1, 2, 0, 2, 1, 2,
       1, 1, 1, 0, 1, 1, 0, 1, 2, 2, 0, 1, 2, 1, 0, 2, 0, 1, 2, 2, 1, 2,
       1, 1, 2, 2, 0, 1, 2, 0, 1, 2])

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [43]:
accuracy_train = accuracy_score(y_train, y_train_predicted)
accuracy_train

accuracy_test = accuracy_score(y_test, y_test_predicted)
accuracy_test

0.9583333333333334

1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [44]:
balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_predicted)
balanced_accuracy_train

balanced_accuracy_test = balanced_accuracy_score(y_test, y_test_predicted)
balanced_accuracy_test

0.9589326662497394

1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [45]:
average_list = ['weighted', 'macro', 'micro']

for val in average_list:
    precision_score_train = precision_score(y_train, y_train_predicted, average = val)
    print(f'Train average({val}): {precision_score_train}')

    precision_score_test = precision_score(y_test, y_test_predicted, average = val)
    print(f'Test average:({val}): {precision_score_test}')

Train average(weighted): 0.9600563909774437
Test average:(weighted): 1.0
Train average(macro): 0.9594820384294068
Test average:(macro): 1.0
Train average(micro): 0.9583333333333334
Test average:(micro): 1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [46]:
average_list = ['weighted', 'macro', 'micro']

for val in average_list:
    recall_score_train = recall_score(y_train, y_train_predicted, average = val)
    print(f'Train average({val}): {recall_score_train}')

    recall_score_test = recall_score(y_test, y_test_predicted, average = val)
    print(f'Test average:({val}): {recall_score_test}')

Train average(weighted): 0.9583333333333334
Test average:(weighted): 1.0
Train average(macro): 0.9589326662497394
Test average:(macro): 1.0
Train average(micro): 0.9583333333333334
Test average:(micro): 1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [47]:
average_list = ['weighted', 'macro', 'micro']

for val in average_list:
    f1_score_train = f1_score(y_train, y_train_predicted, average = val)
    print(f'Train average({val}): {f1_score_train}')

    f1_score_test = f1_score(y_test, y_test_predicted, average = val)
    print(f'Test average:({val}): {f1_score_test}')

Train average(weighted): 0.9583137990310985
Test average:(weighted): 1.0
Train average(macro): 0.9583268218992552
Test average:(macro): 1.0
Train average(micro): 0.9583333333333334
Test average:(micro): 1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [48]:
confusion_matrix_train = pd.DataFrame(metrics.confusion_matrix(y_train, y_train_predicted), index = ['Setosa', 'Versicolour', 'Virginica'], columns = ['Setosa', 'Versicolour', 'Virginica'])
confusion_matrix_train

confusion_matrix_test = pd.DataFrame(metrics.confusion_matrix(y_test, y_test_predicted), index = ['Setosa', 'Versicolour', 'Virginica'], columns = ['Setosa', 'Versicolour', 'Virginica'])
confusion_matrix_test

             Setosa  Versicolour  Virginica
Setosa           40            0          0
Versicolour       0           37          4
Virginica         0            1         38

             Setosa  Versicolour  Virginica
Setosa           10            0          0
Versicolour       0            9          0
Virginica         0            0         11

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.